<a href="https://colab.research.google.com/github/sirdrigar/data-science-bootcamp/blob/main/02_analiza_danych/03_zapis_odczyt.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Import bibliotek

In [1]:
import numpy as np
import pandas as pd

##Za≈Çadowanie danych

In [4]:
def fetch_financial_data(company='MET'):
  """
    This function fetch stock market quotations.
  """
  import pandas_datareader.data as web
  return web.DataReader(name=company, data_source='stooq')

df = fetch_financial_data()
df.head()

             Open    High     Low  Close     Volume
Date
2022-12-14  73.54  73.990  72.460  72.84  3117008.0
2022-12-13  74.31  74.696  72.800  73.23  4743556.0
2022-12-12  72.26  73.270  71.570  73.18  4687046.0
2022-12-09  73.09  73.640  72.090  72.19  4479725.0
2022-12-08  75.20  75.200  73.445  73.61  3705075.0

##Zapis/Odczyt danych z pliku CSV

In [6]:
df.to_csv('fb.csv')

In [12]:
df_nov = df[(df.index.month == 11) & (df.index.year == 2019)]
df_nov.head()

               Open     High      Low    Close        Volume
Date
2019-11-29  44.6242  44.8499  44.5187  44.7779  1.873866e+06
2019-11-27  44.9041  44.9838  44.5483  44.7779  4.368668e+06
2019-11-26  44.6883  44.7956  44.3552  44.6528  4.581062e+06
2019-11-25  44.6340  44.9041  44.5089  44.8144  5.639365e+06
2019-11-22  44.0162  44.5631  43.8989  44.4990  6.018461e+06

In [13]:
df_nov.to_csv('fb_nov.csv')

In [22]:
new_df = pd.read_csv('fb_nov.csv', index_col=0)
new_df

               Open     High      Low    Close        Volume
Date
2019-11-29  44.6242  44.8499  44.5187  44.7779  1.873866e+06
2019-11-27  44.9041  44.9838  44.5483  44.7779  4.368668e+06
2019-11-26  44.6883  44.7956  44.3552  44.6528  4.581062e+06
2019-11-25  44.6340  44.9041  44.5089  44.8144  5.639365e+06
2019-11-22  44.0162  44.5631  43.8989  44.4990  6.018461e+06
2019-11-21  44.0773  44.0773  43.5993  43.9334  3.996596e+06
2019-11-20  43.9078  43.9698  43.3698  43.9078  4.720206e+06
2019-11-19  44.2034  44.4478  44.0605  44.0940  4.459143e+06
2019-11-18  44.0241  44.1334  43.7521  44.0694  4.100629e+06
2019-11-15  44.5089  44.6153  44.1138  44.2034  3.676136e+06
2019-11-14  44.0940  44.3827  43.9255  44.2301  3.382646e+06
2019-11-13  44.0694  44.3286  43.9019  44.1945  4.531164e+06
2019-11-12  44.2389  44.7444  44.1236  44.4794  5.207994e+06
2019-11-11  43.7994  44.3877  43.7896  44.1590  4.818097e+06
2019-11-08  44.0507  44.2675  43.5028  44.2477  7.185025e+06
2019-11-07  44.0241  44.5089  43.8989  43.9984  6.687565e+06
2019-11-06  43.3865  43.7097  43.1007  43.6043  5.740617e+06
2019-11-05  42.8416  43.5747  42.6977  43.4033  6.863557e+06
2019-11-04  42.3538  42.7982  42.3292  42.6977  7.316694e+06
2019-11-01  41.7853  42.1656  41.5694  42.0070  6.450858e+06

In [18]:
df_nov.to_excel('fb_nov.xlsx')

In [21]:
new_df = pd.read_excel('fb_nov.xlsx', index_col=0)
new_df

               Open     High      Low    Close        Volume
Date
2019-11-29  44.6242  44.8499  44.5187  44.7779  1.873866e+06
2019-11-27  44.9041  44.9838  44.5483  44.7779  4.368668e+06
2019-11-26  44.6883  44.7956  44.3552  44.6528  4.581062e+06
2019-11-25  44.6340  44.9041  44.5089  44.8144  5.639365e+06
2019-11-22  44.0162  44.5631  43.8989  44.4990  6.018461e+06
2019-11-21  44.0773  44.0773  43.5993  43.9334  3.996596e+06
2019-11-20  43.9078  43.9698  43.3698  43.9078  4.720206e+06
2019-11-19  44.2034  44.4478  44.0605  44.0940  4.459143e+06
2019-11-18  44.0241  44.1334  43.7521  44.0694  4.100629e+06
2019-11-15  44.5089  44.6153  44.1138  44.2034  3.676136e+06
2019-11-14  44.0940  44.3827  43.9255  44.2301  3.382646e+06
2019-11-13  44.0694  44.3286  43.9019  44.1945  4.531164e+06
2019-11-12  44.2389  44.7444  44.1236  44.4794  5.207994e+06
2019-11-11  43.7994  44.3877  43.7896  44.1590  4.818097e+06
2019-11-08  44.0507  44.2675  43.5028  44.2477  7.185025e+06
2019-11-07  44.0241  44.5089  43.8989  43.9984  6.687565e+06
2019-11-06  43.3865  43.7097  43.1007  43.6043  5.740617e+06
2019-11-05  42.8416  43.5747  42.6977  43.4033  6.863557e+06
2019-11-04  42.3538  42.7982  42.3292  42.6977  7.316694e+06
2019-11-01  41.7853  42.1656  41.5694  42.0070  6.450858e+06

##London Bike Dataset

In [28]:
df = pd.read_csv('london_bike.csv')
df.head()

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

In [29]:
df = df.set_index('timestamp')
df.head()

,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
timestamp,,,,,,,,,
2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17414 entries, 2015-01-04 00:00:00 to 2017-01-03 23:00:00
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   cnt           17414 non-null  int64
 1   t1            17414 non-null  float64
 2   t2            17414 non-null  float64
 3   hum           17414 non-null  float64
 4   wind_speed    17414 non-null  float64
 5   weather_code  17414 non-null  float64
 6   is_holiday    17414 non-null  float64
 7   is_weekend    17414 non-null  float64
 8   season        17414 non-null  float64
dtypes: float64(8), int64(1)
memory usage: 1.3+ MB