<a href="https://colab.research.google.com/github/sirdrigar/data-science-bootcamp/blob/main/02_analiza_danych/04_laczenie_danych.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Import bibliotek

In [1]:
import pandas as pd
pd.__version__

'1.3.5'

##Wczytywanie danych

In [2]:
def fetch_finanacial_data(company='AMZN'):
  """
    This is function fetch stock market quotations.
  """
  import pandas_datareader.data as web
  return web.DataReader(name=company, data_source='stooq')

apple = fetch_finanacial_data('AAPL')
amazon = fetch_finanacial_data('AMZN')
google = fetch_finanacial_data('GOOGL')
uber = fetch_finanacial_data('UBER')

In [3]:
apple.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1257 entries, 2022-12-14 to 2017-12-18
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    1257 non-null   float64
 1   High    1257 non-null   float64
 2   Low     1257 non-null   float64
 3   Close   1257 non-null   float64
 4   Volume  1257 non-null   float64
dtypes: float64(5)
memory usage: 58.9 KB

In [4]:
uber.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 908 entries, 2022-12-14 to 2019-05-10
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    908 non-null    float64
 1   High    908 non-null    float64
 2   Low     908 non-null    float64
 3   Close   908 non-null    float64
 4   Volume  908 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 42.6 KB

In [5]:
apple.head()

              Open      High     Low   Close      Volume
Date
2022-12-14  145.35  146.6550  141.16  143.21  82291182.0
2022-12-13  149.50  149.9692  144.24  145.47  93886161.0
2022-12-12  142.70  144.5000  141.06  144.49  70462654.0
2022-12-09  142.34  145.5700  140.90  142.16  76097011.0
2022-12-08  142.36  143.5200  141.10  142.65  62128338.0

In [9]:
apple.columns = [ 'apple_' + col.lower() for col in apple.columns]
amazon.columns = [ 'amazon_' + col.lower() for col in amazon.columns]
google.columns = [ 'google_' + col.lower() for col in google.columns]
uber.columns = [ 'uber_' + col.lower() for col in uber.columns]

In [10]:
apple.head()

            apple_open  apple_high  apple_low  apple_close  apple_volume
Date
2022-12-14      145.35    146.6550     141.16       143.21    82291182.0
2022-12-13      149.50    149.9692     144.24       145.47    93886161.0
2022-12-12      142.70    144.5000     141.06       144.49    70462654.0
2022-12-09      142.34    145.5700     140.90       142.16    76097011.0
2022-12-08      142.36    143.5200     141.10       142.65    62128338.0

##Konkatenacja danych

In [12]:
df = pd.concat(objs=[apple, amazon, google, uber], axis=1)
df

,apple_open,apple_high,apple_low,apple_close,apple_volume,amazon_open,amazon_high,amazon_low,amazon_close,amazon_volume,google_open,google_high,google_low,google_close,google_volume,uber_open,uber_high,uber_low,uber_close,uber_volume
Date,,,,,,,,,,,,,,,,,,,,
2017-12-18,41.5702,42.1195,41.5662,41.9410,1.236212e+08,59.3685,59.7390,59.0455,59.5290,58878240,53.8225,54.3245,53.5185,54.2545,30253540,NaN,NaN,NaN,NaN,NaN
2017-12-19,41.6081,41.6978,41.3838,41.4875,1.152357e+08,59.4575,59.6485,58.9570,59.3715,51503240,54.1510,54.2490,53.6135,53.9645,25832280,NaN,NaN,NaN,NaN,NaN
2017-12-20,41.5682,41.7058,41.1884,41.4475,9.867256e+07,59.5250,59.5500,58.8000,58.8810,47315520,54.0460,54.0620,53.4300,53.6780,28714520,NaN,NaN,NaN,NaN,NaN
2017-12-21,41.4027,41.8464,41.3867,41.6031,8.771052e+07,58.7950,58.9585,58.3820,58.7380,41102340,53.7695,53.8760,53.4500,53.5425,24952960,NaN,NaN,NaN,NaN,NaN
2017-12-22,41.5243,41.7058,41.4795,41.6031,6.873828e+07,58.6040,58.7310,58.3915,58.4180,31551240,53.5000,53.5860,53.3820,53.4430,17705860,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-08,142.3600,143.5200,141.1000,142.6500,6.212834e+07,89.2400,90.8600,87.8800,90.3500,73305887,95.3800,95.5800,93.4500,93.7100,32213288,26.52,27.030,26.2761,26.45,14909647.0
2022-12-09,142.3400,145.5700,140.9000,142.1600,7.609701e+07,88.9000,90.3000,88.6300,89.0900,67398506,93.7700,94.2600,92.7500,92.8300,28225448,26.40,26.960,26.2400,26.55,14253514.0
2022-12-12,142.7000,144.5000,141.0600,144.4900,7.046265e+07,89.2100,90.5800,87.8700,90.5500,61999762,92.7100,93.5600,91.6100,93.3100,29009013,26.42,27.230,26.1100,27.03,16483626.0
2022-12-13,149.5000,149.9692,144.2400,145.4700,9.388616e+07,95.2300,96.2500,90.5200,92.4900,100212038,97.7600,99.5300,95.0300,95.6300,40593656,28.03,28.455,26.9100,26.98,27635364.0
2022-12-14,145.3500,146.6550,141.1600,143.2100,8.229118e+07,92.5020,93.4581,89.8700,91.5800,70298006,95.2000,96.8700,93.6000,95.0700,28733599,27.07,27.820,26.7700,27.47,19427279.0

In [16]:
pd.set_option('display.float_format', lambda x: f'{x:.2f}')
df.describe().T

,count,mean,std,min,25%,50%,75%,max
apple_open,1257.00,96.04,46.81,34.74,49.16,86.52,142.22,181.58
apple_high,1257.00,97.21,47.42,35.16,49.66,87.49,143.63,181.88
apple_low,1257.00,94.92,46.20,34.26,48.81,85.97,140.43,178.09
apple_close,1257.00,96.11,46.83,34.31,49.28,86.67,142.17,180.96
apple_volume,1257.00,119625697.09,56741325.11,35195860.00,81609399.81,105130068.53,139875145.72,434708544.96
amazon_open,1257.00,119.76,35.91,58.42,89.10,108.10,158.34,187.20
amazon_high,1257.00,121.19,36.30,58.73,89.78,110.78,159.94,188.65
amazon_low,1257.00,118.16,35.47,58.03,88.01,106.32,156.25,184.84
amazon_close,1257.00,119.68,35.84,58.42,89.00,108.00,158.10,186.57
amazon_volume,1257.00,86409006.15,40749939.35,17626740.00,58760640.00,75056820.00,102624380.00,311345660.00
google_open,1257.00,85.44,30.92,49.22,58.59,73.08,112.64,151.25
google_high,1257.00,86.39,31.22,50.61,59.14,73.79,114.01,151.55
google_low,1257.00,84.49,30.56,48.88,58.07,72.31,111.46,148.90
google_close,1257.00,85.45,30.88,49.23,58.56,72.99,112.72,149.84
google_volume,1257.00,35280479.86,16015912.98,9312760.00,25148540.00,31408720.00,40252060.00,133177100.00
uber_open,908.00,37.62,9.81,15.96,30.21,35.39,44.48,63.25
uber_high,908.00,38.40,9.89,17.80,30.83,36.24,45.25,64.05
uber_low,908.00,36.77,9.67,13.71,29.53,34.47,43.57,60.80
uber_close,908.00,37.58,9.76,14.82,30.16,35.12,44.29,63.18
uber_volume,908.00,25617563.28,16669785.40,3380003.00,15738065.50,21922250.00,30800737.75,186322536.00

In [17]:
df.corr()

,apple_open,apple_high,apple_low,apple_close,apple_volume,amazon_open,amazon_high,amazon_low,amazon_close,amazon_volume,google_open,google_high,google_low,google_close,google_volume,uber_open,uber_high,uber_low,uber_close,uber_volume
apple_open,1.00,1.00,1.00,1.00,-0.35,0.81,0.82,0.81,0.81,-0.29,0.93,0.93,0.93,0.93,-0.14,0.11,0.11,0.11,0.11,0.11
apple_high,1.00,1.00,1.00,1.00,-0.34,0.81,0.82,0.81,0.81,-0.29,0.93,0.93,0.93,0.93,-0.13,0.10,0.10,0.10,0.10,0.11
apple_low,1.00,1.00,1.00,1.00,-0.36,0.82,0.82,0.81,0.81,-0.30,0.93,0.94,0.93,0.93,-0.14,0.11,0.11,0.11,0.11,0.11
apple_close,1.00,1.00,1.00,1.00,-0.35,0.81,0.82,0.81,0.81,-0.29,0.93,0.94,0.93,0.93,-0.14,0.10,0.11,0.10,0.11,0.11
apple_volume,-0.35,-0.34,-0.36,-0.35,1.00,-0.24,-0.24,-0.25,-0.25,0.59,-0.41,-0.40,-0.41,-0.41,0.51,-0.21,-0.20,-0.22,-0.21,0.24
amazon_open,0.81,0.81,0.82,0.81,-0.24,1.00,1.00,1.00,1.00,-0.26,0.81,0.81,0.81,0.81,-0.15,0.57,0.57,0.57,0.57,-0.05
amazon_high,0.82,0.82,0.82,0.82,-0.24,1.00,1.00,1.00,1.00,-0.24,0.81,0.81,0.81,0.81,-0.14,0.56,0.56,0.56,0.56,-0.04
amazon_low,0.81,0.81,0.81,0.81,-0.25,1.00,1.00,1.00,1.00,-0.27,0.81,0.81,0.81,0.81,-0.16,0.58,0.58,0.58,0.58,-0.06
amazon_close,0.81,0.81,0.81,0.81,-0.25,1.00,1.00,1.00,1.00,-0.26,0.81,0.81,0.81,0.81,-0.15,0.57,0.57,0.57,0.57,-0.05
amazon_volume,-0.29,-0.29,-0.30,-0.29,0.59,-0.26,-0.24,-0.27,-0.26,1.00,-0.32,-0.31,-0.33,-0.32,0.59,-0.18,-0.17,-0.20,-0.19,0.24
google_open,0.93,0.93,0.93,0.93,-0.41,0.81,0.81,0.81,0.81,-0.32,1.00,1.00,1.00,1.00,-0.17,0.24,0.24,0.24,0.24,0.09
google_high,0.93,0.93,0.94,0.94,-0.40,0.81,0.81,0.81,0.81,-0.31,1.00,1.00,1.00,1.00,-0.16,0.23,0.24,0.23,0.23,0.10
google_low,0.93,0.93,0.93,0.93,-0.41,0.81,0.81,0.81,0.81,-0.33,1.00,1.00,1.00,1.00,-0.18,0.25,0.25,0.25,0.24,0.09
google_close,0.93,0.93,0.93,0.93,-0.41,0.81,0.81,0.81,0.81,-0.32,1.00,1.00,1.00,1.00,-0.17,0.24,0.24,0.24,0.24,0.09
google_volume,-0.14,-0.13,-0.14,-0.14,0.51,-0.15,-0.14,-0.16,-0.15,0.59,-0.17,-0.16,-0.18,-0.17,1.00,-0.17,-0.16,-0.19,-0.17,0.26
uber_open,0.11,0.10,0.11,0.10,-0.21,0.57,0.56,0.58,0.57,-0.18,0.24,0.23,0.25,0.24,-0.17,1.00,1.00,1.00,0.99,-0.24
uber_high,0.11,0.10,0.11,0.11,-0.20,0.57,0.56,0.58,0.57,-0.17,0.24,0.24,0.25,0.24,-0.16,1.00,1.00,1.00,1.00,-0.21
uber_low,0.11,0.10,0.11,0.10,-0.22,0.57,0.56,0.58,0.57,-0.20,0.24,0.23,0.25,0.24,-0.19,1.00,1.00,1.00,1.00,-0.26
uber_close,0.11,0.10,0.11,0.11,-0.21,0.57,0.56,0.58,0.57,-0.19,0.24,0.23,0.24,0.24,-0.17,0.99,1.00,1.00,1.00,-0.23
uber_volume,0.11,0.11,0.11,0.11,0.24,-0.05,-0.04,-0.06,-0.05,0.24,0.09,0.10,0.09,0.09,0.26,-0.24,-0.21,-0.26,-0.23,1.00

In [18]:
df.columns

Index(['apple_open', 'apple_high', 'apple_low', 'apple_close', 'apple_volume',
       'amazon_open', 'amazon_high', 'amazon_low', 'amazon_close',
       'amazon_volume', 'google_open', 'google_high', 'google_low',
       'google_close', 'google_volume', 'uber_open', 'uber_high', 'uber_low',
       'uber_close', 'uber_volume'],
      dtype='object')

In [22]:
closes = [col for col in df.columns if col.endswith('_close') ]
closes

['apple_close', 'amazon_close', 'google_close', 'uber_close']

In [24]:
df[closes].corr()

              apple_close  amazon_close  google_close  uber_close
apple_close          1.00          0.81          0.93        0.11
amazon_close         0.81          1.00          0.81        0.57
google_close         0.93          0.81          1.00        0.24
uber_close           0.11          0.57          0.24        1.00

In [27]:
closes = [col for col in df.columns if col.endswith('_close') or col.endswith('_volume')]
closes

['apple_close',
 'apple_volume',
 'amazon_close',
 'amazon_volume',
 'google_close',
 'google_volume',
 'uber_close',
 'uber_volume']

In [28]:
df[closes].corr()

,apple_close,apple_volume,amazon_close,amazon_volume,google_close,google_volume,uber_close,uber_volume
apple_close,1.00,-0.35,0.81,-0.29,0.93,-0.14,0.11,0.11
apple_volume,-0.35,1.00,-0.25,0.59,-0.41,0.51,-0.21,0.24
amazon_close,0.81,-0.25,1.00,-0.26,0.81,-0.15,0.57,-0.05
amazon_volume,-0.29,0.59,-0.26,1.00,-0.32,0.59,-0.19,0.24
google_close,0.93,-0.41,0.81,-0.32,1.00,-0.17,0.24,0.09
google_volume,-0.14,0.51,-0.15,0.59,-0.17,1.00,-0.17,0.26
uber_close,0.11,-0.21,0.57,-0.19,0.24,-0.17,1.00,-0.23
uber_volume,0.11,0.24,-0.05,0.24,0.09,0.26,-0.23,1.00

##Metoda append()

In [29]:
uber.head()

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2022-12-14      27.07      27.82     26.77       27.47     19427279
2022-12-13      28.03      28.45     26.91       26.98     27635364
2022-12-12      26.42      27.23     26.11       27.03     16483626
2022-12-09      26.40      26.96     26.24       26.55     14253514
2022-12-08      26.52      27.03     26.28       26.45     14909647

In [31]:
uber_6 = uber[(uber.index.month == 6) & (uber.index.year == 2022)]
uber_6

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2022-06-30      21.11      21.13     19.89       20.46     30882454
2022-06-29      22.11      22.15     21.08       21.47     30704792
2022-06-28      22.97      23.46     22.04       22.08     24360150
2022-06-27      23.45      23.64     22.34       22.86     27153354
2022-06-24      22.48      23.19     22.30       23.03     38140098
2022-06-23      21.63      22.44     21.39       22.37     27010545
2022-06-22      21.41      22.21     21.30       21.50     32353317
2022-06-21      22.00      22.46     21.69       21.76     35257652
2022-06-17      20.37      21.96     20.37       21.81     46728428
2022-06-16      21.04      21.40     20.16       20.47     55312350
2022-06-15      21.34      22.39     21.24       22.03     36073711
2022-06-14      21.72      21.95     20.89       21.09     43006334
2022-06-13      22.22      22.59     21.34       21.57     33130326
2022-06-10      24.80      24.97     23.65       23.72     29897398
2022-06-09      25.94      26.69     25.36       25.44     42149561
2022-06-08      25.70      26.55     25.30       25.83     31225314
2022-06-07      24.20      25.70     24.07       25.30     27453723
2022-06-06      24.86      25.43     24.28       24.73     29834677
2022-06-03      24.17      24.50     23.73       24.15     24283631
2022-06-02      23.07      24.83     22.94       24.74     30691100
2022-06-01      23.53      23.87     22.57       22.94     26383612

In [32]:
uber_7 = uber[(uber.index.month == 7) & (uber.index.year == 2022)]
uber_7

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2022-07-29      23.18      23.48     22.39       23.45     29406649
2022-07-28      22.89      23.42     22.14       23.31     22886075
2022-07-27      23.00      23.32     22.49       23.09     28384348
2022-07-26      23.15      23.15     22.45       22.55     24402801
2022-07-25      23.27      23.54     22.63       23.35     12923042
2022-07-22      24.33      24.81     23.09       23.30     20209442
2022-07-21      24.02      24.25     23.60       24.23     18425364
2022-07-20      22.89      24.22     22.80       24.12     27844618
2022-07-19      22.75      23.08     22.19       22.67     23148938
2022-07-18      22.17      23.20     22.11       22.58     30935860
2022-07-15      21.00      21.78     20.77       21.67     24503631
2022-07-14      21.25      21.46     20.59       20.65     31561675
2022-07-13      20.93      21.61     20.72       21.50     18994916
2022-07-12      21.28      21.78     20.98       21.57     17373535
2022-07-11      21.95      22.25     21.14       21.19     17562117
2022-07-08      22.43      22.96     21.83       22.34     20231300
2022-07-07      21.64      22.76     21.61       22.74     23121886
2022-07-06      21.50      22.08     21.32       21.50     32689429
2022-07-05      21.17      22.55     20.83       22.52     24515795
2022-07-01      20.70      21.37     20.43       21.34     20693312

In [34]:
uber_6_7 = uber_6.append(uber_7)
uber_6_7

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2022-06-30      21.11      21.13     19.89       20.46     30882454
2022-06-29      22.11      22.15     21.08       21.47     30704792
2022-06-28      22.97      23.46     22.04       22.08     24360150
2022-06-27      23.45      23.64     22.34       22.86     27153354
2022-06-24      22.48      23.19     22.30       23.03     38140098
2022-06-23      21.63      22.44     21.39       22.37     27010545
2022-06-22      21.41      22.21     21.30       21.50     32353317
2022-06-21      22.00      22.46     21.69       21.76     35257652
2022-06-17      20.37      21.96     20.37       21.81     46728428
2022-06-16      21.04      21.40     20.16       20.47     55312350
2022-06-15      21.34      22.39     21.24       22.03     36073711
2022-06-14      21.72      21.95     20.89       21.09     43006334
2022-06-13      22.22      22.59     21.34       21.57     33130326
2022-06-10      24.80      24.97     23.65       23.72     29897398
2022-06-09      25.94      26.69     25.36       25.44     42149561
2022-06-08      25.70      26.55     25.30       25.83     31225314
2022-06-07      24.20      25.70     24.07       25.30     27453723
2022-06-06      24.86      25.43     24.28       24.73     29834677
2022-06-03      24.17      24.50     23.73       24.15     24283631
2022-06-02      23.07      24.83     22.94       24.74     30691100
2022-06-01      23.53      23.87     22.57       22.94     26383612
2022-07-29      23.18      23.48     22.39       23.45     29406649
2022-07-28      22.89      23.42     22.14       23.31     22886075
2022-07-27      23.00      23.32     22.49       23.09     28384348
2022-07-26      23.15      23.15     22.45       22.55     24402801
2022-07-25      23.27      23.54     22.63       23.35     12923042
2022-07-22      24.33      24.81     23.09       23.30     20209442
2022-07-21      24.02      24.25     23.60       24.23     18425364
2022-07-20      22.89      24.22     22.80       24.12     27844618
2022-07-19      22.75      23.08     22.19       22.67     23148938
2022-07-18      22.17      23.20     22.11       22.58     30935860
2022-07-15      21.00      21.78     20.77       21.67     24503631
2022-07-14      21.25      21.46     20.59       20.65     31561675
2022-07-13      20.93      21.61     20.72       21.50     18994916
2022-07-12      21.28      21.78     20.98       21.57     17373535
2022-07-11      21.95      22.25     21.14       21.19     17562117
2022-07-08      22.43      22.96     21.83       22.34     20231300
2022-07-07      21.64      22.76     21.61       22.74     23121886
2022-07-06      21.50      22.08     21.32       21.50     32689429
2022-07-05      21.17      22.55     20.83       22.52     24515795
2022-07-01      20.70      21.37     20.43       21.34     20693312